KAFKA_BROKER=localhost:9092
KAFKA_TOPIC=crypto_trades
SCHEMA_REGISTRY_URL=http://localhost:8081
BINANCE_WS_URL=wss://stream.binance.us:9443/stream?streams=btcusdt@trade/ethusdt@trade/solusdt@trade/bnbusdt@trade/adausdt@trade/xrpusdt@trade